<div id="menu">
	<ul>
		<li id="logo"><a href="/"></a></li>
		<li class="me"><a href="#me">Me</a></li>
		<li class="work"><a href="#work">Work</a></li>
		<li class="resume"><a href="#resume">Resume</a></li>
		<li class="blog"><a href="/blog">Blog</a></li>
	</ul>
</div>
<div id="wrapper">
	<div id="me">
		<section>
			<article>
				<h1>Design for hire</h1>
				<div class="content clearfix">
					<p>我是刘伟，一位24岁的软件开发者，长住于苏州。</p>
					<p>现已工作3年，从事drupal, iOS和项目管理的工作。</p>
					<p>乐于生活，喜爱运动，更喜欢写一手漂亮的代码 ：） 和创造杰出的产品。</p>
					<h2>Take a look at my work and my resume, and get in touch with me if you are interested.</h2>
				</div>
			</article>
		</section>
	</div>
	<div id="work">
		<section>
			<article>
				<div class="content">
					<h1>工作</h1>
					<h2>我最近的一些项目</h2>
				</div>
			</article>
			<article class="work1">
				<div class="left">

				</div>
				<div class="right">
					
				</div>
			</article>
		</section>
	</div>
	<div id="resume">
		<section>
			<article>
				<h1>Design for hire</h1>
				<div class="content">
					<p>
						我是刘伟，一位24岁的软件开发者，长住于苏州。
					</p>
					<p>
						现已工作3年，从事drupal, iOS和项目管理的工作。
					</p>
					<p>
						乐于生活，喜爱运动，更喜欢写一手漂亮的代码 ：） 和创造杰出的产品。
					</p>

					<div>
						Take a look at my work and my resume, and get in touch with me if you are interested.
					</div>
				</div>
			</article>
		</section>
	</div>
</div>